@section Styles
{
    <link href="~/lib/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/datatables/css/dataTables.checkboxes.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/dataTables.css" rel="stylesheet" asp-append-version="true" />
}

<div class="container-fluid p-0">
    <h1 class="h3 mb-2 text-gray-800">Consulta de Contato</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tabela de Contato</h6>
        </div>
        <div class="card-body p-0">
            <button class="btn btn-primary ml-4 mt-2" data-toggle="modal" data-target="#modal-cadastrar">Novo Contato</button>
            <table class="table table-striped table-hover table-sm nowrap" width="100%" cellspacing="0" id="lista-contato"></table>
        </div>
    </div>
</div>

<partial name="_Cadastrar" />

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.checkboxes.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.custom.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/js/sweetalert2.all.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/js/sweetalert2.constantes.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var tabela;

        $(document).ready(function () {
            carregarTabela();
        });

        function carregarTabela() {
            debugger ;
            const opcoes = {
                id: 'lista-contato',
                url: `@Url.Action("Listar")`,
                order: [[0, "asc"]],
                columns: [
                    { "data": "Id", "name": "Id", "title": "Código" },
                    { "data": "NomeFantasia", "name": "NomeFantasia", "title": "Fantasia" },
                    { "data": "Telefone", "name": "Telefone", "title": "Telefone" },
                    { "data": "DataCadastro", "name": "DataCadastro", "title": "Data Cadastro" },

                    {
                        "title": "Ações",
                        "render": function(data, type, objeto, meta) {
                            return `<a class="btn btn-light btn-xs ripple botao-editar" data-toggle="modal" data-target="#modal-cadastrar">Editar</a>`
                                + ` | <button class="btn btn-light btn-xs ripple" onclick="excluirRegistro('${objeto.Id}')">Excluir</button>`;
                        }
                    }
                ],
                columnDefs: [
                    {
                        "targets": [1],
                        "searchable": false,
                        "orderable": false
                    }
                ]
            };
            tabela = DataTableCustom.gerar(opcoes);
        }

        function recarregarTabela(resetarPagina) {
            tabela.ajax.reload(null, resetarPagina === undefined);
        }
        
        $("#lista-contato").on("click", "tbody .botao-editar", async function () {
            const valorSelecionado = tabela.row($(this).closest("tr")).data();
            $("#ContatoId").val(valorSelecionado.Id);
            $("#ContatoNome").val(valorSelecionado.NomeFantasia);
            $("#ContatoTelefone").val(valorSelecionado.Telefone);
        });

        function excluirRegistro(idContato) {
            $.ajax({
                url: `@Url.Action("Remover")`,
                type: "POST",
                dataType: "json",
                data: { id: idContato },
                success: function(resposta) {
                    alert(resposta.Mensagem);
                    recarregarTabela();
                }
            });
        }
    </script>
}
